<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chemistry - Информация о реактиве</title>
    <link rel="stylesheet" href="/static/styles/element_style.css">
</head>
<body>
    <div class="header">
        <a href="/chemistry" class="home-button">
            <img src="http://localhost:9000/staticimages/image.svg" alt="На главную" width="40" height="40">
        </a>
        <h1>Информация о реактиве</h1>
    </div>

    <div class="card">
        <!-- Химическая формула (Name) -->
        <div class="formula">{{.Name}}</div>

        <!-- Свойства -->
        <div class="property">
            <div class="property-title">Концентрация</div>
            <div class="property-value">{{.Concentration}}</div>
        </div>

        <div class="property">
            <div class="property-title">pH</div>
            <div class="property-value">{{.Ph}}</div>
        </div>
    </div>
</body>
</html>