<html lang="en">
<head>
    <title>Metoda</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <!-- Hero секция с картинкой -->
    <section class="hero">
        <header>
            <h1>
                <a href="/chemistry"><img src="http://localhost:9000/staticimages/image.svg" alt="home"></a>
            </h1>
            <a href="/mixingpage" class="cart">
                <img src="http://localhost:9000/staticimages/breaker.svg" alt="cart">
            </a>
        </header>
    </section>

    <!-- Поиск под хедером -->
    <div class="search-section">
        <form action="/chemistry" method="GET">
            <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
            <button type="submit">Найти</button>
        </form>
    </div>

    <!-- Основная часть (белая) -->
    <main>
        <!-- Карточки -->
        <div class="cards-container">
            {{ range .data }}
            <div class="card">
                <img src="{{ .Image }}" alt="{{ .Title }}" class="card-img">
                <h3>{{ .Title }}</h3>
                <p><strong>Концентрация:</strong> {{ .Concentration }}</p>
                <p><strong>pH:</strong> {{ .PH }}</p>
                <a href="/element/{{ .ID }}" class="btn">Подробнее</a>
            </div>
            {{ end }}
        </div>
    </main>
</body>
</html>