<html lang="en">
<head>
    <title>Metoda</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <!-- Hero секция с картинкой -->
    <section class="hero">
        <header>
            <h1>
                <a href="/hello"><img src="/static/img/image.svg" alt="home"></a>
            </h1>
            <a href="/calculatepage" class="cart">
                <img src="/static/img/breaker.svg" alt="cart">
            </a>
        </header>

        <!-- Поиск по центру -->
        <div class="hero-content">
            <form action="/hello" method="GET">
                <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
                <button type="submit">Найти</button>
            </form>
        </div>
    </section>

    <!-- Основная часть (белая) -->
    <main>
        <!-- Карточки -->
        <div class="cards-container">
            {{ range .orders }}
            <div class="card">
                <img src="{{ .Image }}" alt="{{ .Title }}" class="card-img">
                <h3>{{ .Title }}</h3>
                <p><strong>Концентрация:</strong> {{ .Concentration }}</p>
                <p><strong>pH:</strong> {{ .PH }}</p>
                <a href="/order/{{ .ID }}" class="btn">Подробнее</a>
            </div>
            {{ end }}
        </div>
    </main>
</body>
</html>
