<!-- <html lang="en">
    <h1>
        {{ .time }}
    </h1>
    {{ range .orders }}
        <h2>
            {{ .ID }}. {{ .Title }}
          Как вы можете заметить теперь у нас точки не пустые, так как
          теперь при переходе на orders[0] мы попадаем в элемент, у которого есть id и title.
          Для еще большего понимания можете вернуться к старому шаблону и посмотреть что выведется
        </h2>
    {{ end }}
</html> -->

<!-- <html lang="en">
<header>
    <h1>
        <a href="/hello"><img src="/static/img/image.png" alt="home"></a>
    </h1>
</header>
<<header>
    <h1>
        <a href="/hello">Список</a>
    </h1>
</header> 
<form action="/hello" method="GET">
    <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
    value="{{ .query }}"  нужно для того, чтобы из обработчика передавать 
    введенный запрос обратно на страницу. Тем самым введенный текст в поле поиска будет сохраняться
    <button type="submit">Найти</button>
</form>
<h2>
    {{ .time }}
</h2>
<ul>
    {{ range .orders }}
    <li>
        <a href="/order/{{ .ID }}"> {{ .Title }} </a>
    </li>
    {{ end }}
</ul>
</html> -->

<html lang="en">
<head>
    <title>Metoda</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<header>
    <h1>
        <a href="/hello"><img src="/static/img/image.png" alt="home"></a>
    </h1>
</header>
<form action="/hello" method="GET">
    <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
    <!-- value="{{ .query }}"  нужно для того, чтобы из обработчика передавать
    введенный запрос обратно на страницу. Тем самым введенный текст в поле поиска будет сохраняться-->
    <button type="submit">Найти</button>
</form>
    <h2>
        {{ .time }}
    </h2>
    <ul>
        {{ range .orders }}
        <li>
            <a href="/order/{{ .ID }}"> {{ .Title }} </a>
        </li>
        {{ end }}
    </ul>
</html>